.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 300px;
}

.header {
    height: 120px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;

    .header-left {
        display: flex;
        gap: 20px;

        .logo {
            width: 128px;
            height: 50px;
            border-radius: 45px;
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 16px;

        .notify {
            display: flex;
            align-items: center;
            position: relative;

            .notify-list {
                color: black;
                width: 500px;
                min-height: 600px;
                padding: 40px 0;
                position: absolute;
                display: none;
                flex-direction: column;
                left: -460px;
                top: 60px;
                background-color: #d9d9d9;
                transition: all 5s;
                border-radius: 24px;
                border: 1px solid black;

                .notify-item {
                    display: flex;
                    padding: 10px 40px;
                    gap: 20px;
                    cursor: pointer;

                    img {
                        padding-top: 6px;
                        width: 60px;
                        height: fit-content;
                    }

                    .title {
                        font-size: 1.4rem;
                        font-weight: 500;
                    }

                    .content {
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #3e3e3e;

                        b {
                            color: red;
                        }
                    }
                }

                .notify-item:hover {
                    background-color: var(--primary-color);
                }
            }
        }

        .notify::before {
            display: none;
            cursor: pointer;
            content: "";
            position: absolute;
            top: 0;
            left: -30px;
            width: 70px;
            height: 80px;
        }

        .notify:hover {
            .notify-list {
                display: flex;
            }
        }

        .notify:hover::before {
            display: block;
        }

        .search {
            position: relative;
            input {
                width: 600px;
                height: 66px;
                background-color: var(--primary-color);
                border-radius: 45px;
                font-size: 1.4rem;
                padding: 0 20px;
                outline: none;
            }

            input::-webkit-input-placeholder {
                font-style: italic;
            }

            .search-icon {
                position: absolute;
                right: 20px;
                color: var(--secondary-color);
                top: 6px;
            }
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    svg {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: #d9d9d9;
    background-image: url(../../../public/footer.png);
    background-size: 100% 100%;
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
    gap: 120px;

    .logo {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .policy {
        text-align: left;
        font-size: 1.6rem;

        div {
            color: #5c5959;
            font-size: 1.2rem;
        }

        div:hover {
            color: var(--secondary-color);
            cursor: pointer;
        }
    }

    .contact {
        font-size: 2rem;
        line-height: 3rem;
        svg {
            margin: 6px 10px 0 10px;
            cursor: pointer;
        }
    }
}
